html{
    font-family: 'poppins'sans-serif;
    background:whitesmoke;
}
.slider-container{
    width: 100%;
    height: 900px;
    overflow: hidden;
}
.slider-wrapper{
    display: flex;
    width: 200%;
    transition: transform 0.5s ease-in-out;
}
.slider-slide{
    flex:0 0 50%;
    position: relative;

}
.slider-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-overlay{
    position: absolute;
    width: 100%;
    background:rgba(0,0,0,0.5) ;

    color: whitesmoke;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    top: 20%;
    font-size: 50px;
    transform: translateY(-50);
}
.navbar{
    position: static;
    width: 100%;
    background: rgba(0,0,0,0.5);
    color:deepskyblue;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    top: 0;
    font-size: 30px;

}
.navbar a{
    color:deepskyblue;
    text-decoration: none;
    margin: 0 10px;
}
.slider-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 25px;
    color: deepskyblue;
    background-color:black;
    padding: 2%;
    border:none;

    z-index: 1;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}


.packages .box-container .box{
    border:22px solid rgb(10, 10, 10);
    box-shadow: var(--box-shadow);
    background: rgb(200,200,200);
    cursor: pointer;
}

.packages .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    gap:2rem;
}

.packages .box-container .box:hover .image img{
    transform: scale(2.5);

}
.packages .box-container .box .image{
    height: 20rem;
    overflow: hidden;
}
.packages .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.2s linear;
}
.packages .box-container .box .content{
    padding: 2rem;
    text-align: center;
}
.packages .box-container .box .content h1{
    font-size: 2.5rem;
    color: black;
}
.packages .box-container .box .content p{
    font-size: 2.5rem;
    color:black;
    line-height: 1.5;
    padding: 1rem 0;
}
.btn{
    font-size: 25px;
    padding: 15px;
    background-color: blueviolet;
}
a{
    text-decoration: none;
}


